<!-------------------------------------------
------- OVERVIEW
--------------------------------------------->

<div class="overview" *ngIf="showView === 'overview'">overview comming soon</div>

<!-------------------------------------------
------- SASS VIEW
--------------------------------------------->

<div class="sass" *ngIf="showView === 'sass'">sass comming soon</div>

<!-------------------------------------------
------- API VIEW
--------------------------------------------->

<div class="API" *ngIf="showView === 'api'">API comming soon</div>

<!-------------------------------------------
------- EXAMPLES VIEW
--------------------------------------------->

<div class="examples" *ngIf="showView === 'examples'">
  <p>Basic style</p> 
  <div class="lkd-btn-box">
      <lkd-btn pry basic>Be basic!</lkd-btn>
      <lkd-btn sry basic>Be basic!</lkd-btn>
      <lkd-btn inf basic>Be basic!</lkd-btn>
      <lkd-btn scs basic lkd-on>Be active!</lkd-btn>
      <lkd-btn alr basic>Be basic!</lkd-btn>
      <lkd-btn dgr basic>Be basic!</lkd-btn>
      <lkd-btn drk basic>Be basic!</lkd-btn>
      <lkd-btn ext basic lkd-off>Be disabled!</lkd-btn>
  </div>
  <p>Flat style</p> 
  <div class="lkd-btn-box">
      <lkd-btn pry flat>Be flat!</lkd-btn>
      <lkd-btn sry flat>Be flat!</lkd-btn>
      <lkd-btn inf flat>Be flat!</lkd-btn>
      <lkd-btn scs flat lkd-on>Be active!</lkd-btn>
      <lkd-btn alr flat>Be flat!</lkd-btn>
      <lkd-btn dgr flat>Be flat!</lkd-btn>
      <lkd-btn drk flat>Be flat!</lkd-btn>
      <lkd-btn ext flat>Be flat!</lkd-btn>
  </div>
  <p>Solid style</p> 
  <div class="lkd-btn-box">
      <lkd-btn pry solid>Be solid!</lkd-btn>
      <lkd-btn sry solid>Be solid!</lkd-btn>
      <lkd-btn inf solid>Be solid!</lkd-btn>
      <lkd-btn scs solid lkd-on>Be active!</lkd-btn>
      <lkd-btn alr solid>Be solid!</lkd-btn>
      <lkd-btn dgr solid>Be solid!</lkd-btn>
      <lkd-btn drk solid>Be solid!</lkd-btn>
      <lkd-btn ext solid>Be solid!</lkd-btn>
  </div>
  <p>Filled style</p> 
  <div class="lkd-btn-box">
      <lkd-btn pry filled>Be filled!</lkd-btn>
      <lkd-btn sry filled>Be filled!</lkd-btn>
      <lkd-btn inf filled>Be filled!</lkd-btn>
      <lkd-btn scs filled lkd-on>Be active!</lkd-btn>
      <lkd-btn alr filled>Be filled!</lkd-btn>
      <lkd-btn dgr filled>Be filled!</lkd-btn>
      <lkd-btn drk filled>Be filled!</lkd-btn>
      <lkd-btn ext filled>Be filled!</lkd-btn>
  </div>
  <p>LKD style</p> 
  <div class="lkd-btn-box">
      <lkd-btn pry lkd>Be lkd!</lkd-btn>
      <lkd-btn sry lkd>Be lkd!</lkd-btn>
      <lkd-btn inf lkd>Be lkd!</lkd-btn>
      <lkd-btn scs lkd lkd-on>Be active!</lkd-btn>
      <lkd-btn alr lkd>Be lkd!</lkd-btn>
      <lkd-btn dgr lkd>Be lkd!</lkd-btn>
      <lkd-btn drk lkd>Be lkd!</lkd-btn>
      <lkd-btn ext lkd>Be lkd!</lkd-btn>
  </div>    
</div>