@import '../../../../styles/lkd-commons';

.examples {
    p {
        margin: 50px 0 30px;
    }
    .lkd-btn-box {
        @include lkd-flex();
        max-width: 1000px;

        lkd-btn {
            margin: 10px;
        }
    }

}