@import '../../../styles/lkd-commons';

.selector {
    position:                       absolute;
    z-index:                        1000;
    bottom:                         20px;
    left:                           20px;

    lkd-pill {
        margin:                     10px;
    }
}