<div class="block-heading" *ngIf="data.title">
    <h1>{{data.title}}</h1>
</div>
<div class="body">
    <div class="text">
        <lkd-block-text *ngFor="let b of data.blockTexts, let i = index" [data]="data.blockTexts[i]"></lkd-block-text>
        <lkd-btn-vyg scs #button [routerLink]="data.button.link">{{data.button.text}} 
            <img *ngIf="data.button.icon" class="icon" src="../../../assets{{data.button.icon}}" alt=""></lkd-btn-vyg>
    </div>
    <div class="composition">
        <img *ngFor="let img of data.tri, let i = index" src="../../../assets{{data.tri[i]}}" alt="travel photo" class="image">
    </div>
</div>