// --------------------------------------------------
// --- STYLE FUNCTIONS
// --------------------------------------------------

@function lkd-gradient($color-1, $color-2: $color-1, $ratio: 10%, $ang: 45deg) {

    $gradient: linear-gradient($ang, darken($color-1, $ratio), lighten($color-2, $ratio * .3));
    @return $gradient;
}

@function lkd-link($color, $state: 'noactive') {

    $link: transparentize($color, .5);
    @if $state == active {
        $link: $color;
    }
    @return $link;
}

// ----------------------------------------------
// --- COLOR GETTER
// ----------------------------------------------

@function color($color) {

    $get-color: map-get($theme-active, $color);
    @return $get-color;
}