@import '../../../styles/lkd-commons';

:host {
    @include lkd-flex(column);
    max-width:                      1200px;
    margin:                         0 auto;
    
    .cards-box {
        
        @include lkd-flex($jus: space-between);
        padding:                        3rem 0;
    
        lkd-card {
            width:                      22%;
        }
    }

}
