<header>
    <img src="../../../assets/images/logo-ng.svg" alt="">
    <div class="catch-eye">
        <h1>angular likuid</h1>
        <h2>your own customizable skin for angular</h2>
        <a routerLink="/components" lkd-btn pry lkd>Be likuid!</a>
    </div>
</header>
<div class="box-separator"></div>
<section>
    <div>
        <img src="../../../assets/images/angular.svg" alt="">
        <h3>100% Angular</h3>
        <p>it's just Angular. Nothing else.</p>
        <small>no third-party plugins</small>
        <small>no additional frameworks</small>
        <small>pure typescript code</small>
        <!-- <a lkd-btn dgr>You know</a> -->
    </div>
    <div>
        <img src="../../../assets/images/sass.svg" alt="">
        <h3>Sass powered</h3>
        <p>use all the scss superpower's</p>
        <small>the premier CSS extension language</small>
        <small>variable, functions, mixins, loops...</small>
        <small>much less code for your fingers</small>
        <!-- <a lkd-btn alr>You enjoy</a> -->
    </div>
    <div>
        <img src="../../../assets/images/puzzle.svg" alt="">
        <h3>Full customizable</h3>
        <p>imagine it... you have it!</p>
        <small>hundreds of components, directives</small>
        <small>layouts, styles, services & much more</small>
        <small>you will really love your new free time</small>
        <!-- <a lkd-btn pry>You flow</a> -->
    </div>
</section>