@import '../../../styles/lkd-commons';

main {
    margin-top:                 -15vh;
    padding-top:                15vh;
    padding-bottom:             $padding-xx;
    background:                 $clr-wht;
}