<header #headerBack>
    <div class="vyg-gradient"></div>
    <lkd-catcheye [data]="catcheyeHeader"></lkd-catcheye>
</header>
<main>
    <section>
        <lkd-block-trimage [data]="blockTri"></lkd-block-trimage>
    </section>
    <section class="vyg-section" #blockCrdBack>
        <div class="vyg-gradient"></div>
        <lkd-block-card [data]="blockCards"></lkd-block-card>
    </section>
    <section class="spin-section">
        <lkd-spin *ngFor="let spin of spins, let i = index" [config]="spins[i]"></lkd-spin>
    </section>
    <section class="vyg-section">
    </section>
</main>

