<!-------------------------------------------
------- NAV SECTION 
--------------------------------------------->

<lkd-navbtn [config]="navigation"></lkd-navbtn>

<!-------------------------------------------
------- HEADER SECTION
--------------------------------------------->
<header #headerBack>
    <div class="gradient"></div>
    <lkd-catcheye [data]="catcheyeHeader"></lkd-catcheye>
</header>
<!-------------------------------------------
------- MAIN SECTIONS
--------------------------------------------->
<main>
    <!----------------------------------------
    ------- TRI IMAGE SECTION
    ----------------------------------------->
    <section>
        <div class="section-heading">
            <h1>{{titles.trimage}}</h1>
        </div>
        <lkd-block-trimage [data]="blockTri"></lkd-block-trimage>
    </section>
    <section class="polygon-back section-blockCards" #blockCrdBack>
        <div class="gradient"></div>
        <div class="blockCards-box">
            <lkd-card *ngFor="let card of blockCards.cards, let i = index" [data]="blockCards.cards[i]"></lkd-card>
        </div>
    </section>
    <section>
        <div class="section-prices">
            <lkd-spin *ngFor="let spin of spins, let i = index" [config]="spins[i]"></lkd-spin>
        </div>
        <div class="section-footer">
            <lkd-btn-vyg scs>{{buttons.spin}}</lkd-btn-vyg>
        </div>
    </section>
    <section class="section-tours">
        <div class="section-heading">
            <h1>{{titles.testimonials}}</h1>
        </div>
        <div class="testimonials">
            <lkd-story *ngFor="let card of storyCards, let i = index" [config]="storyCards[i]"></lkd-story>
        </div>
        <div class="section-footer">
            <lkd-btn-vyg scs>{{buttons.testimonials}}</lkd-btn-vyg>
        </div>
        <div class="bg-video">
            <video autoplay muted loop src="../../../assets{{videoBg.mp4}}">
                <source src="../../../assets{{videoBg.mp4}}" type="video/mp4">
                <source src="../../../assets{{videoBg.webm}}" type="video/webm">
                    Your browser is not supported. You can make a favour to your self downloading Mozilla Firefox from https://www.mosilla.org
            </video>
        </div>
    </section>
    <section class="section-book">
        <div class="book" #book>
            <div class="form-box">
                <form>
                    <div class="section-heading" id="form-title">
                        <h1>{{bookForm.title}}</h1>
                    </div>
                    <div class="lkd-input-group">
                        <input  class="lkd-input" 
                        type="text" 
                        name="name"
                        id="name"
                        #name
                        placeholder="{{bookForm.placeholders.name}}" 
                        autocomplete="false"
                        required>
                        <label class="lkd-input-label" for="name">{{bookForm.labels.name}}</label>
                    </div>
                    <div class="lkd-input-group">
                        <input  class="lkd-input" 
                        type="email" 
                        email="email"
                        id="email"
                        #email
                        placeholder="{{bookForm.placeholders.email}}"
                        autocomplete="false"
                        required>
                        <label class="lkd-input-label" for="email">{{bookForm.labels.email}}</label>
                    </div>
                    <div class="lkd-radio-group" *ngIf="bookForm.radios">
                        <div class="lkd-radio-group">
                            <input type="radio" class="lkd-radio-input" id="radioOne" name="radioOption">
                            <label for="radioOne" class="lkd-radio-label">
                                <span class="radio-button"></span>{{bookForm.radios.first}}
                            </label>
                        </div>
                        <div class="lkd-radio-group">
                            <input type="radio" class="lkd-radio-input" id="radioTwo" name="radioOption">
                            <label for="radioTwo" class="lkd-radio-label">
                                <span class="radio-button"></span>{{bookForm.radios.second}}
                            </label>
                        </div>
                        <div class="lkd-form-group">
                            <lkd-btn-vyg scs>{{bookForm.button.text}}</lkd-btn-vyg>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<!-------------------------------------------
------- FOOTER SECTION
--------------------------------------------->
<footer>
    <div class="footer-company">
        <img [src]="footer.logo" alt="" class="footer-logo">
        <h3 *ngIf="footer.company">{{footer.company}}</h3>
    </div>
    <div class="footer-navigation">
        <ul class="nav">
            <li class="nav-item" 
                *ngFor="let item of footer.menu.nav, let i = index">
                <a href="{{footer.menu.links[i]}}" class="nav-link">{{footer.menu.nav[i]}}</a>
            </li>
        </ul>
        <ul class="address">
            <li *ngFor="let line of footer.address">
                {{line}}
            </li>
        </ul>
    </div>
</footer>
