@import '../../../styles/lkd-commons';

.catcheye {

    position:               relative;
    min-height:             100%;
}

.logo-box {

    position:               absolute;
    top:                    40px;
    left:                   40px;
    
    .logo {
        height:             35px;
    }
}


.text-box {

    @include lkd-flex(column, center);
    @include lkd-center(40%);  

    .title {

        @include lkd-text($clr-wht, 5rem, $text-normal, 40px, 1, uppercase);  

        display:            block;
        animation-name:     moveInLeftBounce;
        animation-duration: 5s;
    }
    
    .subtitle {

        @include lkd-text($clr-wht, 2rem, $text-slim, 16.7px, 2, uppercase); 

        display:            block;
        margin-bottom:      50px;
        animation-name:     moveInRightBounce;
        animation-duration: 5s;
    }

    // --- BOTON VOYAGER CATCHEYE

    .lkd-btn-vyg {

        @include lkd-text($clr-gry, $transform: uppercase);

        cursor:             pointer;
        position:           relative;
        display:            inline-block;
        background:         $clr-wht;
        padding:            15px 40px;
        border-radius:      50px;
        animation:          moveInBottom 5s;
        animation-fill-mode: backwards;
        transition:         $lkd-transition;

        &::after {

            content:        "";
            z-index:        -1;
            display:        inline-block;
            position:       absolute;
            top:            0;
            left:           0;
            width:          100%;
            height:         100%;
            border-radius:  50px;
            background:     $clr-wht;
            transition:     all .4s;
        }
        
        &:hover {

            transform:      translateY(-3px);
            box-shadow:     0 .4rem .6rem $vyg-sdw;

            &::after {
                transform:  scale(1.6, 1.4);
                opacity:    0;
            }
        }

        &:active {
            
            transform:      translateY(-1px);
            box-shadow:     0 .2rem .3rem $vyg-sdw;
        }
    }
}

