@import '../../../styles/lkd-commons';

.catcheye {

    position:               relative;
    min-height:             100%;
}

.logo-box {

    position:               absolute;
    top:                    40px;
    left:                   40px;
    
    .logo {
        height:             35px;
    }
}


.text-box {

    @include lkd-flex(column, center);
    @include lkd-center(40%);  

    .title {

        @include lkd-text($clr-wht, 5rem, $text-normal, 40px, 1, uppercase);  

        display:            block;
        animation-name:     moveInLeftBounce;
        animation-duration: 5s;
    }
    
    .subtitle {

        @include lkd-text($clr-wht, 2rem, $text-slim, 16.7px, 2, uppercase); 

        display:            block;
        margin-bottom:      50px;
        animation-name:     moveInRightBounce;
        animation-duration: 5s;
    }

    // --- BOTON VOYAGER CATCHEYE

    lkd-btn-vyg {

        animation:              moveInBottom 5s;
        animation-fill-mode:    backwards;
        transition:             $lkd-transition;
    }
}

