@import "../../../styles/lkd-commons";

:host {

    display:                    inline-block;
    position:                   relative;
    perspective:                100rem;
    width:                      300px;
    height:                     500px;

    .spin-side {
        
        position:               absolute;
        top:                    0;
        left:                   0;
        width:                  300px;
        height:                 500px;
        padding:                $padding-x;
        border-radius:          $corner-global;
        transition:             all .8s ease;
        backface-visibility:    hidden;
        box-shadow:             0 1.5rem 3rem rgba($clr-sdw, .3);

        &.front {

            background-color:   $clr-wht;

        }

        &.back {

            transform:          rotateY(180deg);
        }
        
    }
        
    
    &:hover .spin-side.front {

        transform:              rotateY(180deg);
    }

    &:hover .spin-side.back {
        
        transform:              rotateY(0);
    }
    
}