// --------------------------------------------------
// --- TYPOGRAPHY MIXINS
// --------------------------------------------------

@mixin lkd-text($color: $text-color, $size: $text-base, $weight: $text-normal, $spacing: 0, $line: $line-height, $transform: none) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $line;
    text-transform: $transform;
} 

@mixin lkd-text-gradient($color-1: $clr-pry, $color-2: $color-1, $darken: 10%, $ang: 45deg) {
    display:                    inline-block;
    background:                 lkd-gradient($color-1, $color-2, $darken, $ang);
    background-clip:            text;
    color:                      transparent; 
}

// --- TITLES ---------------------------------------

@mixin lkd-title($color: $text-color, $size: $text-title-xb, $transform: capitalize) {
    @include lkd-text($color, $size, $transform: $transform);
}

@mixin lkd-title-slim($color: $text-color, $size: $lkd-title-n, $transform: capitalize) {
    @include lkd-text($color, $size, $text-slim, .8rem, $transform: $transform);
}

// ----------------------------------------------
// --- deprecated
// ----------------------------------------------

@mixin lkd-title-small($color: $text-color) {
    @include lkd-text($color, $size: $text-title-small, $spacing: 0);
}

@mixin lkd-title-block($color: $text-color) {
    @include lkd-text($color, $size: $text-title-medium, $spacing: .25rem);
}

@mixin lkd-block-txt-title($color: $text-color) {
    @include lkd-text($color, $size: $text-subtitle, $transform: uppercase);
}

// --- SUBTITLES ------------------------------------


@mixin lkd-subtitle($color: $text-color, $size: $text-subtitle, $transform: uppercase) {
    @include lkd-text($color, $size, $spacing: $letter-spacing, $transform: $transform);
}

@mixin lkd-subtitle-slim($color: $text-color, $size: $text-subtitle, $transform: uppercase) {
    @include lkd-text($color, $size, $text-light, .25rem, $transform: $transform);
}

// ----------------------------------------------
// --- deprecated
// ----------------------------------------------

@mixin lkd-subtitle-block($color: $text-color, $size: $text-title-small) {
    @include lkd-text($color, $size, $weight: $text-light, $spacing: .25rem);
}

// --- PARAGRAPHS -----------------------------------

@mixin lkd-pgraph($color: $text-color, $size: $text-base, $weight: $text-light, $align: left, $spacing: 0, $line: $line-height) {
    @include lkd-text($color: $color, $size: $size, $weight: $weight, $spacing: $spacing, $line: $line);
    text-align: $align;
}

@mixin lkd-pgraph-xsmall($color: $text-color) {
    @include lkd-text($color, $size: $text-xsmall, $spacing: 0, $transform: uppercase);
}

@mixin lkd-pgraph-small($color: $text-color) {
    @include lkd-text($color, $size: $text-small, $spacing: 0);
}

@mixin lkd-pgraph-block($color: $text-color) {
    @include lkd-text($color, $size: $text-subtitle);
}

@mixin lkd-block-txt-text($color: $text-color) {
    @include lkd-text($color, $size: $text-base, $weight: $text-light);
}

// --- COLOR CLASSES --------------------------------

@mixin lkd-text-colors($colors) {
    @each $color in $colors {
        .txt-#{$color} {
            color: color($color);
        }
    }
}

@if $enable-txt-color-attributes {
    @include lkd-text-colors($list-colors);
}